<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>${jsTitle}</title>
	<link rel="stylesheet" type="text/css" href="${base}/css/bootstrap.min.css" />
	<style type="text/css">
		#menu{
			background-color: red;
		}
		#content{
			background-color: green;
		}
	</style>
	${jsCss}
</head>
<body>
	<div class="container">
		@ include("head.html"){};
		<div class="row">
			<div class="col-lg-3" id="menu">
				@ include("leftMenu.html"){};
			</div>
			<div class="col-lg-9" id="content">
				${jsContent}
			</div>
		</div>
		@ include("foot.html"){};
	
		<script src="${base}/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		${jsScript}
	</div>
</body>
</html>