<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Vue</title>
	</head>

	<body>
		<div id="app">
			<input type="text" v-model="newTodo" v-on:keyup.enter="addTodo" />
			<ul>
				<li v-for="todo in todos">
					<span>{{ todo.text }}</span>
					<button v-on:click="removeTodo($index)">X</button>
				</li>
			</ul>
		</div>
	</body>

	<script src="${base}/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="${base}/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	
		$(document).ready(function() {
			
			var todos = [
				@for (list in lists) {
					{ text: '${list}' },
				@}
			];

			window.vue = new Vue({
						el:'#app',
				data: {
					newTodo: '',
					todos: todos
				},
				methods: {
					addTodo: function(){
						var _text = this.newTodo.trim();
						this.todos.push({ text: _text });
						this.newTodo = '';
					},
					removeTodo: function(index){
						this.todos.splice(index, 1);
					}
				}
			});
			
			window.vue.$watch("newTodo", function(){
				console.log("aaaaaaaa");
			});
		});
	</script>

</html>